	body
	{
    /*background-color: black;*/
    background: -moz-linear-gradient(top, #7db9e8 0%, #7db9e8 1%, #7db9e8 1%, #7db9e8 2%, #2989d8 20%, #000000 62%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #7db9e8 0%,#7db9e8 1%,#7db9e8 1%,#7db9e8 2%,#2989d8 20%,#000000 62%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #7db9e8 0%,#7db9e8 1%,#7db9e8 1%,#7db9e8 2%,#2989d8 20%,#000000 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	-webkit-transition: background-image 0.5s linear;
	-moz-transition: background-image 0.5s linear;
	-ms-transition: background-image 0.5s linear;
	transition: background-image 0.5s linear;
	overflow:hidden;
	}
	#canvas{
		z-index:-2;
		position:absolute;
	}
	#GameBox
	{
	width:65vw;
	height:80vh;
	border-style:solid;
	border-width:5px;
	background-image: url("Images/MainMenu.png");
	background-size: 100% 100%;
	margin-top:25vh;
	margin:auto;
	-webkit-transition: background-image 0.5s linear;
	-moz-transition: background-image 0.5s linear;
	-ms-transition: background-image 0.5s linear;
	transition: background-image 0.5s linear;
	-webkit-box-shadow: inset 10px 10px 45px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 45px 8px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 45px 8px rgba(0,0,0,0.75);
	border-radius:20px;
	}
	#Title
	{
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	color:white;
	font-size:12vh;
	position:relative;

	}
	.MenuOption
	{
	margin:auto;
	width:25vh;
	height:3vw;
	border-style:none;
	background-image:url(Images/scrollArt.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	font-size:3vh;
	background-color: Transparent;
	transition: width 0.4s;
	}
	.MenuOption:hover
	{
	width:35vh;
	color:white;
	}

	div.wrapper_MenuHolder
	{
	animation-name: menuHover ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	border-style:none;
	}

	@keyframes menuHover
	{
    0%   {transform: translateY(0px); }

    25%  {transform: translateY(5px); }

	75% {transform: translateY(-5px); }

	100% {transform: translateY(0px); }
	}
	#wrapper_learnTheTrail
	{
	display:none;
	}
	#wrapper_chooseGameBackground /*menu for choosing your family background*/
	{
	display:none;
	margin-top: -3vh;
	width:30vw;
	height: 45vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_chooseFamilyName /*menu for choosing yor family members names*/
	{
	display: none;
	margin-top: -8vh;
	width:30vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_chooseMonthtoLeave{ /*menu for choosing which month to begin going down the trail*/
	display: none;
	width:35vw;
	height: 55vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}

	#wrapper_shoppingTime{ /*message prompt before enting shop, displayed as a single button*/
	display: none;
	width:40vw;
	height: 45vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	}
	/******************************************** SHOP MENU CSS & ALL ITS SUB-MENUS*********************************************/
	#wrapper_MattsShop{
	display: none;
	width:35vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_OxenShop{ /*menu for buying oxen when in a shop*/
	display: none;
	width:37vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_FoodShop{ /*menu for buying food when in a shop*/
	display: none;
	width:39vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_ClothesShop{ /*menu for buying clothes when in a shop*/
	display: none;
	width:39vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_AmmoShop{ /*menu for buying ammo when in a shop*/
	display: none;
	width:38vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_SpareShop{ /*menu for buying spare parts when in a shop*/
	display: none;
	width:55vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	/********************************************END SHOP MENU CSS & ALL ITS SUB-MENUS*********************************************/


	/******************************************** TOWN MENU CSS & ALL ITS SUB-MENUS*********************************************/
	#wrapper_goToTown{ /*menu for intermediate screen displayed before entering a town*/
	display: none;
	}
	#wrapper_townMenu{ /*menu for displaying the menu while in town*/
	display: none;
	width:40vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_checksupplies{
	display:none;
	width:35vw;
	height: 50vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_lookatmap{
	display:none;
	width:30vw;
	height: 45vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_changepace{
	display:none;
	width:30vw;
	height: 45vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_changefoodrat{
	display:none;
	width:38vw;
	height: 58vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	font-size:2vw;
	}
	#wrapper_stoprest{
	display:none;
	width:30vw;
	height: 45vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_trade{
	display:none;
	width:30vw;
	height: 45vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_talk2ppl{
	display:none;
	width:30vw;
	height: 45vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}
	#wrapper_attemptTrade{
	display:none;
	}
	#wrapper_travel{
	display:none;
	width:50vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	}

	#wrapper_rivermenu{
	display: none;
	width:50vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	font-size:2vw;
	}
	#wrapper_rivermenuinfo{
	display: none;
	width:50vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	font-size:2vw;
	}
	#wrapper_goToDestination{
		display:none;
	}
	#wrapper_travel_pause_menu{
		display: none;
	}
	#wrapper_southPassChoice{
	display:none;
	width:50vw;
	height: 65vh;
	background-size: 100% 100%;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	background-image: url(Images/openBook.png);
	font-size:2vw;
	}
	#riverAnimation{
	display:none;
	position: absolute;
	width:65vw;
	height:65vh;
	top: 0%;
  	left: 0%;
	background-image:url(Images/riverCross.gif);
	background-size: 100% 100%;
	}
	/********************************************END TOWN MENU CSS & ALL ITS SUB-MENUS*********************************************/

	/****************************************************************START TRAVEL THE TRAIL CSS *****************************************************************/
	#wagon{
	display:block;
	position:absolute;
	width:12vw;
	height:12vh;
	top:8vw;
	bottom:5vw;
	left:45vw;
	background-size: 100% 100%;
	background-image: url(Images/Wagon.png);
	-webkit-transition: left 0.5s linear;
	-moz-transition: left 0.5s linear;
	-ms-transition: left 0.5s linear;
	transition: left 0.5s linear;
	animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: wagonAnimate ;
  	}
	@keyframes wagonAnimate
	{
    0%   {background-image: url(Images/Wagon.png); }
    25%  {background-image: url(Images/Wagon2.png); }
	50% {background-image: url(Images/Wagon.png); }
	75% {background-image: url(Images/Wagon2.png); }
	100% {background-image: url(Images/Wagon.png);}
	}
	#destination{
	display:block;
	position:absolute;
	width:12vw;
	height:19.5vh;
	top:7vw;
	bottom:5vw;
	left:8vw;
	/*right:5vw;*/
	background-size: 100% 100%;
	background-image: url(Images/river.png);
	}
	#grass{
	display:block;
	position:absolute;
	width:51vw;
	height:18vh;
	top:8vw;
	bottom:5vw;
	left:8vw;
	/*right:5vw;*/
	background-size: 100% 100%;
	background-image: url(Images/grass.svg);
	z-index:3;
	}
	#trailAnimation{
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top, #7db9e8 0%, #7db9e8 1%, #7db9e8 1%, #7db9e8 2%, #2989d8 4%, #000000 33%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #7db9e8 0%,#7db9e8 1%,#7db9e8 1%,#7db9e8 2%,#2989d8 4%,#000000 33%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #7db9e8 0%,#7db9e8 1%,#7db9e8 1%,#7db9e8 2%,#2989d8 4%,#000000 33%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	}
	#reached_destinationPrompt{
	display:none;
	position: absolute;
	width:51vw;
	height:50vh;
	top:4vw;
	bottom:5vw;
	left:8vw;
	z-index:3;
	}

	/****************************************************************END TRAVEL THE TRAIL CSS *****************************************************************/


	/********************************************Options Menu Logic********************************************/

	.contrastSlider{ /*Wrapper for the Menu Transparency div which is within the wrapper_optionsMenu div*/
	float:right;
	padding:0.3vw;
	width:25vh;
	height:3vw;
	border-style:none;
	background-image:url(Images/scrollArt.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	font-family:  'Just Another Hand', Helvetica, sans-serif;
	font-size:3vh;
	background-color: Transparent;
	transition: width 0.4s;
	}
	.contrastSlider:hover{
	color:white;
	}

	#wrapper_optionsMenu{ /*Wrapper to hold all options items to be created */
	position: absolute;
	display:block;
	top:0vw;
	left:69vw;
	z-index: 2;
	border-style:none;
	height:80vh;
	/*background-color:rgba(218, 174, 87,0.5);*/
	border-radius: 20px;
	}

/************************Code to create custom slider FREE USE CODE Soruced from: "https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/" ************************/
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/************************END FREE USE CODE Soruced from: "https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/" ************************/

/************************START SUNRAY EFFECT FREE CODE Soruced from: "https://codepen.io/Hackroro/pen/ByrKLZ" ************************/

.sun {
  position: absolute;
	top:0;
	left:83vw;
	right:0;
	bottom:70vh;
	margin: auto;
	width:70px;
	height:70px;
	border-radius:50%;
	background:white;
	opacity:1;
	box-shadow: 0px 0px 40px 15px white;
	z-index: 2;
}

.ray_box {
  position: absolute;
  margin: auto;
	top:0px;
	left:0;
	right:0;
	bottom:0;
  width:70px;
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
}
.ray {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
		background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.1;
}

.ray1 {
    height:170px;
    width:30px;
   -webkit-transform: rotate(180deg);
    top:-175px;
    left: 15px;
}
.ray2 {
    height:100px;
    width:8px;
   -webkit-transform: rotate(220deg);
    top:-90px;
    left: 75px;
}
.ray3 {
    height:170px;
    width:50px;
   -webkit-transform: rotate(250deg);
    top:-80px;
    left: 100px;
}
.ray4 {
    height:120px;
    width:14px;
   -webkit-transform: rotate(305deg);
    top:30px;
    left: 100px;
}
.ray5 {
    height:140px;
    width:30px;
   -webkit-transform: rotate(-15deg);
    top:60px;
    left: 40px;
}
.ray6 {
    height:90px;
    width:50px;
   -webkit-transform: rotate(30deg);
    top:60px;
    left: -40px;
}
.ray7 {
    height:180px;
    width:10px;
   -webkit-transform: rotate(70deg);
    top:-35px;
    left: -40px;
}
.ray8 {
    height:120px;
    width:30px;
   -webkit-transform: rotate(100deg);
    top:-45px;
    left:-90px;
}
.ray9 {
    height:80px;
    width:10px;
   -webkit-transform: rotate(120deg);
    top:-65px;
    left:-60px;
}
.ray10 {
    height:190px;
    width:23px;
   -webkit-transform: rotate(150deg);
    top:-185px;
    left: -60px;
}


@-webkit-keyframes ray_anim {
		0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

/************************END SUNRAY EFFECT FREE CODE Soruced from: "https://codepen.io/Hackroro/pen/ByrKLZ" ************************/
